.rangefieldinput{
    position: absolute;
    top: 10px;
    width: 0;
    height: 0;
    background-color: #4285f4;
    border: none;
    border-radius: 50%;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}

.applyBtn{    
    color:white !important;  
    width: 100px;  
    text-decoration: none;
    font-weight: bold;
    background:#4285f4;
    padding: 10px;
    border-radius: 50px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;    
    margin-left: 65px;    
}